## Úkol č.9:

In [81]:
import pandas
temperatures = pandas.read_csv('temperature.csv')
temperatures

             Region  Country      City  Day  AvgTemperature
0            Africa  Algeria   Algiers    1            62.0
1            Africa  Algeria   Algiers    2            62.2
2            Africa  Algeria   Algiers    3            65.7
3            Africa  Algeria   Algiers    4            69.8
4            Africa  Algeria   Algiers    5            63.8
...             ...      ...       ...  ...             ...
8785  North America       US  Cheyenne   26            51.7
8786  North America       US  Cheyenne   27            55.5
8787  North America       US  Cheyenne   28            38.5
8788  North America       US  Cheyenne   29            36.8
8789  North America       US  Cheyenne   30            36.9

[8790 rows x 5 columns]

##### Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního?

In [ ]:
prague = temperatures[temperatures["City"] == 'Prague']
print(prague)

##### Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.

In [ ]:
eighty = temperatures[temperatures["AvgTemperature"] > 80]
print(eighty)

##### Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).

In [ ]:
europe_60 = temperatures[(temperatures["AvgTemperature"] > 60) & (temperatures["Region"] == 'Europe')]
europe_60

##### Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.

In [ ]:
temperatures[(temperatures["AvgTemperature"] > 80)]

In [ ]:
temperatures[(temperatures["AvgTemperature"] < -20)]

In [91]:
between = temperatures[(temperatures["AvgTemperature"] > 80)] | temperatures[(temperatures["AvgTemperature"] < -20)]
between

TypeError: unsupported operand type(s) for |: 'str' and 'bool'